spring.datasource.url=jdbc:postgresql://localhost:5432/nutri
spring.datasource.username={your_username}
spring.datasource.password={your_password}
spring.datasource.driver-class-name=org.postgresql.Driver

jwt.secret={gbase64_encoded_secret_key}
jwt.access-expiration-ms=600000
jwt.refresh-expiration-ms=604800000