spring.datasource.url=jdbc:postgresql://localhost:5432/nutri
spring.datasource.username={your_username}
spring.datasource.password={your_password}
spring.datasource.driver-class-name=org.postgresql.Driver

# JWT
jwt.secret={gbase64_encoded_secret_key}
jwt.access-expiration-ms=600000
jwt.refresh-expiration-ms=604800000

# GOOGLE OAuth
google.client-id={your_google_client_id}
google.client-secret={your_google_client_secret}
google.redirect-uri={your_redirect_uri}

# Kakao OAuth
kakao.client-id={your_kakao_client_id}
kakao.client-secret={your_kakao_client_secret}
kakao.redirect-uri={your_redirect_url}

# coupang
coupang.access-key=dummy
coupang.secret-key=dummy
